name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - main
      - deploy-test   # 테스트 브랜치도 배포

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ q-t6whFOVbsyBGbkuRQ4nYWyDPkRdQC8hjC7TtY2}}
          accountId: ${{ 7c0b152c6b6944de8ef3a9d2894ff006 }}
          projectName: "D-pokemon"
          directory: "dist"
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref_name }}